<template>
    <template if:true={leave}>
        <lightning-layout multiple-rows="true" class="leave-row">
            <lightning-layout-item size="2" padding="around-small">
                <p class="slds-text-title_bold">Date</p>
                {leave.startDate}
            </lightning-layout-item>
            <lightning-layout-item size="2" padding="around-small">
                <p class="slds-text-title_bold">Leave Type</p>
                {leave.leaveType}
            </lightning-layout-item>
            <lightning-layout-item size="1" padding="around-small">
                <p class="slds-text-title_bold">Leave status</p>
                <span style={style}>{leave.status}</span>
            </lightning-layout-item>
            <lightning-layout-item size="4" padding="around-small">
                <lightning-icon icon-name="utility:comments" class="slds-m-right_small"></lightning-icon>
                {leave.comments}
            </lightning-layout-item>
            <lightning-layout-item size="2" padding="around-small">
                <p class="slds-text-title_bold">Approved By </p>
                <p>{leave.approverName}</p>
            </lightning-layout-item>
            <lightning-layout-item size="1" padding="around-small">
                <lightning-icon icon-name="action:more" size="small"></lightning-icon>
            </lightning-layout-item>
        </lightning-layout>
    </template>
</template>