<template>
    <li role="presentation" class="slds-listbox__item" onclick={selectRecord} >
            <span  class="slds-media slds-listbox__option slds-listbox__option_entity slds-listbox__option_has-meta" role="option">
                    <span class="slds-media__figure">
                        <span class="slds-icon_container" title="Description of icon when needed">
                                <lightning-icon
                                        icon-name="standard:contact"
                                        size="small"
                                        alternative-text="Indicates approval">
                                </lightning-icon>
                        <span class="slds-assistive-text">Description of icon</span>
                        </span>
                    </span>    
                    <span class="slds-media__body">  
                        <span class="slds-listbox__option-text slds-listbox__option-text_entity">{item.Name}</span>
                    </span>
            </span>
        </li>
</template>