<template>
    <div>
        <lightning-record-edit-form object-api-name="Time_Off__c" onsubmit={handleSubmit} onsuccess={handleSuccess} onerror={hanldeError}
            class="record-edit-form">

            <section role="dialog" tabindex="-1" aria-labelledby="modal-heading-01" aria-modal="true" class="slds-modal  new-leave-modal">
                <div class="slds-modal__container">
                    <header class="slds-modal__header">
                        <h2 id="modal-heading-01" class="slds-text-heading_medium slds-hyphenate">Apply for Leave</h2>
                    </header>
                    <div class="slds-modal__content slds-p-around_medium">


                        <lightning-input-field field-name="From_Date__c"></lightning-input-field>
                        <lightning-input-field field-name="To_Date__c"></lightning-input-field>
                        <lightning-input-field field-name="Reason__c"></lightning-input-field>
                        <lightning-input-field field-name="Leave_Type__c"></lightning-input-field>
                    </div>
                    <footer class="slds-modal__footer">
                        <lightning-button class="slds-m-top_small slds-m-right-small" label="Cancel" onclick={closeModal} ></lightning-button>
                        <lightning-button class="slds-m-top_small" type="submit" label="Save" variant="brand">
                        </lightning-button>
                    </footer>
                </div>
            </section>
            <div class="slds-backdrop add-new-backdrop"></div>

        </lightning-record-edit-form>
    </div>
</template>