<template>
        <!-- user card . uncomment this if want to show details of current user-->
        <!-- <c-lms-user-card current-user-id={currentUserId} ></c-lms-user-card> -->

        <lightning-layout multiple-rows="true" class="leave-holder">
                <lightning-layout-item size="2" class="slds-p-horizontal_x-small slds-p-vertical_small">
                        <c-lms-leave-card leave-data={sickLeaveData}></c-lms-leave-card>
                </lightning-layout-item>
                <lightning-layout-item size="2" class="slds-p-horizontal_x-small slds-p-vertical_small">
                        <c-lms-leave-card leave-data={paidLeaveData}></c-lms-leave-card>
                </lightning-layout-item>
                <lightning-layout-item size="2" class="slds-p-horizontal_x-small slds-p-vertical_small">
                        <c-lms-leave-card leave-data={casualLeaveData}></c-lms-leave-card>
                </lightning-layout-item>
                <lightning-layout-item size="2" class="slds-p-horizontal_x-small slds-p-vertical_small">
                        <c-lms-leave-card leave-data={otherLeaveData}></c-lms-leave-card>
                </lightning-layout-item>
                <lightning-layout-item size="4" class="slds-p-horizontal_x-small slds-p-vertical_small">
                        <c-lms-leave-actions></c-lms-leave-actions>
                </lightning-layout-item>
        </lightning-layout>

        <!-- <c-lms-leave-history history-data={leaveHistoryData}></c-lms-leave-history> -->


        <lightning-layout multiple-rows="true" class="leave-holder">
                <lightning-layout-item size="8" class="slds-p-horizontal_x-small slds-p-vertical_small">
                        <c-lms-leave-history history-data={leaveHistoryData}></c-lms-leave-history>
                </lightning-layout-item>
                <lightning-layout-item size="4" class="slds-p-horizontal_x-small slds-p-vertical_small">
                        <c-lms-pending-leaves></c-lms-pending-leaves>
                </lightning-layout-item>
        </lightning-layout>

        <c-lms-new-leave > </c-lms-new-leave>
        <!-- <c-lmslookup obj-name="Contact" onlookupchanged={contactFetcher}></c-lmslookup> -->


</template>