<template>
    <div class="leave-actions-holder">
        <lightning-button label="Apply for Leave" variant="brand" onclick={openNewLeaveModal}></lightning-button>

        <div class="slds-m-top_large">
            <b>Useful Links</b>
            <p class="slds-m-top_small ">
                <lightning-icon icon-name="standard:document" class="slds-m-right_small"></lightning-icon>
                <a href="#">Leave Policy Document</a>
            </p>
            <p class="slds-m-top_small">
                <lightning-icon icon-name="standard:channel_program_history" class="slds-m-right_small"></lightning-icon>
                <a href="#">Leave History</a>
            </p>
            <p class="slds-m-top_small ">
                <lightning-icon icon-name="standard:default" class="slds-m-right_small"></lightning-icon>
                <a href="#">Other links</a>
            </p>
            
        </div>
    </div>
</template>