<template>
    <div class="slds-form-element slds-lookup slds-is-close searchDiv" onmouseleave={onblur}>
        <label class="slds-form-element__label" for="lookup-348">{label}</label>
        <div class="slds-form-element__control">
            <div class="slds-input-has-icon slds-input-has-icon--right">
                <!-- This markup is for when an record is selected -->
                <template if:true={selectedRecord}>
                    <label>Search</label>
                    <div  class="slds-pill-container selectedContainer">
                        <lightning-pill label={selectedRecord.Name} onremove={removeSelected} class="pillSize"></lightning-pill>   
                    </div>
                </template>
                <div class="searchBox">
                    <lightning-input  type="search" onfocus={openResults} onchange={changeSearchValues} label="Search" value={searchKey}></lightning-input>
                </div>
            </div>
        </div>
        <!--This part is for Display typehead lookup result List-->
        <ul style="min-height:40px;margin-top:0px !important" class="slds-listbox slds-listbox_vertical slds-dropdown slds-dropdown_fluid slds-lookup__menu slds"
            role="listbox">
            <template for:each={listOfResults} for:item="result">
                <c-lookup-item item={result} key={result.Id}></c-lookup-item>
            </template>
        </ul>
    </div>
</template>