.parent{
    position:relative;
    height: 182px;
    width: 178px;
    margin: 2em auto;
}
.parent:after{
    position: absolute;
    display: block;
    height: 160px;
    width: 160px;
    left: 14%;
    top: 45%;
    content:  attr(data-pct) " day \A Available ";
    white-space: pre; 
    
}
:host{
    text-align: center
}
.container{
    background:  #fff;
    padding:2em;
}
.balance-details{
    text-align: left !important;
}
svg{
    transform: rotate(-90deg);
}
.color-circle{
    transition: stroke-dashoffset 2s;
}