<template>
    
        <div class="container">
            <p class="slds-text-title_bold">{leaveData.leaveType}</p>
            <div class="parent" data-pct={leaveBalance}>
                <svg id="svg" width="200" height="200" view-port="0 0 100 100" version="1.1" xmlns="http://www.w3.org/2000/svg">
                    <circle cx="100" cy="100" r={innerRadius} fill="none" stroke={leaveData.emptyColor} stroke-width="16"></circle>
                    <circle cx="100" cy="100" r={innerRadius} fill="none" stroke={leaveData.fillColor} stroke-width="16"
                        stroke-dashoffset={dashOffset} stroke-dasharray={dashArray} class="color-circle"></circle>
                    <circle cx="100" cy="100" r={outerRadius} fill="none" stroke="#e6e6e6" stroke-width="5"></circle>
                </svg>
            </div>

            <lightning-layout multiple-rows="true" class="balance-details slds-grid_align-center">
                <lightning-layout-item size="8"><c-lms-color-box color={leaveData.fillColor}></c-lms-color-box></span>Available</lightning-layout-item>
                <lightning-layout-item size="4">{leaveBalance}</lightning-layout-item>

                <lightning-layout-item size="8"><c-lms-color-box color={leaveData.emptyColor}></c-lms-color-box>Consumed</lightning-layout-item>
                <lightning-layout-item size="4">{leaveData.taken}</lightning-layout-item>

                <lightning-layout-item size="8"><c-lms-color-box color="#e6e6e6"></c-lms-color-box>Accured so far</lightning-layout-item>
                <lightning-layout-item size="4">{leaveData.total}</lightning-layout-item>

                <lightning-layout-item size="8"><c-lms-color-box color="#e6e6e6"></c-lms-color-box>Annual Quota</lightning-layout-item>
                <lightning-layout-item size="4">{leaveData.annual}</lightning-layout-item>
            </lightning-layout>
        </div>
    
</template>