<template>
    <lightning-layout multiple-rows="true" class="leave-holder">
        <lightning-layout-item size="2" class="slds-p-horizontal_x-small slds-p-vertical_small">
            <lightning-avatar size="large" src={imageUrl} alternative-text="Codey Bear"></lightning-avatar>
        </lightning-layout-item>

        <lightning-layout-item size="5" class="slds-p-horizontal_x-small slds-p-vertical_small">
            <p class="slds-text-title_bold">Das Nobel</p>
            <p>10/01/2019</p>
            <p>2 days / 16 hours</p>
        </lightning-layout-item>
        <lightning-layout-item size="5" class="slds-p-horizontal_x-small slds-p-vertical_small">
                <lightning-button variant="success" label="Approve" class="slds-m-around_small"> </lightning-button>
                <lightning-button variant="destructive" label="Reject"> </lightning-button>
        </lightning-layout-item>
    </lightning-layout>

</template>