<template>
    <div class="container slds-p-around_medium">
        <p class="slds-p-around_small"><b>Leave History</b></p>
        <template for:each={historyData} for:item="leave">
            <c-lms-leave-history-row key={leave.date} leave={leave}></c-lms-leave-history-row>
        </template>
    </div>
</template>