<template>
        
    <lightning-layout multiple-rows="true" class="slds-m-bottom_medium">
        <template if:true={currentUser.data} >
            <lightning-layout-item size="1" >
                <img src={userPhotoURL} class="avatar"></img>
            </lightning-layout-item>
            <lightning-layout-item size="11" class="slds-p-top_medium">
                Name - {currentUser.data.fields.Name.value} <br/>
                Email - {currentUser.data.fields.Email.value}
            </lightning-layout-item>
        </template>
    </lightning-layout>
</template>