<template>
    <div class="container slds-p-around_medium">
        <p class="slds-p-around_small"><b>Leaves for Approval</b></p>
        <lightning-layout multiple-rows="true" class="leave-holder">
            <lightning-layout-item size="12" class="slds-p-horizontal_x-small slds-p-vertical_small">
                <c-lms-pending-leaves-row image-url="https://scontent.fhyd5-1.fna.fbcdn.net/v/t1.0-9/43232217_10100544451102773_6435187458517762048_n.jpg?_nc_cat=110&_nc_ht=scontent.fhyd5-1.fna&oh=ecd0ce145710356c1b557b626d011158&oe=5C9B7FC6"></c-lms-pending-leaves-row>
            </lightning-layout-item>
            <lightning-layout-item size="12" class="slds-p-horizontal_x-small slds-p-vertical_small">
                <c-lms-pending-leaves-row image-url="https://scontent.fhyd5-1.fna.fbcdn.net/v/t1.0-9/35241466_10156463744579136_8331914526182080512_n.jpg?_nc_cat=103&_nc_ht=scontent.fhyd5-1.fna&oh=57e214e3936a1d38b33ba172358c56fd&oe=5CD7F2F2"></c-lms-pending-leaves-row>
            </lightning-layout-item>
            <lightning-layout-item size="12" class="slds-p-horizontal_x-small slds-p-vertical_small">
                <c-lms-pending-leaves-row image-url="https://scontent.fhyd5-1.fna.fbcdn.net/v/t1.0-9/14045591_10155168510044535_3465357323884624803_n.jpg?_nc_cat=103&_nc_ht=scontent.fhyd5-1.fna&oh=d8fac60c0f0134652ed2e3212d5936b6&oe=5C9425DD"></c-lms-pending-leaves-row>
            </lightning-layout-item>
        </lightning-layout>

    </div>
</template>